# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Project specific
node_modules/
.next/
dist/
build/
*.txt
*.log

# Secrets
serviceAccountKey.json
public/serviceAccountKey.json
secondsemdashb-firebase-adminsdk-fbsvc-35d923123d.json